{% load static%}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
<section class="insta">
  <section class="insta-header"><img class="insta-photo-profile" src="https://www.csgowallpapers.com/assets/images/original/mossawi_615036637056_20170314151408_445030607748.png"/>
    <section class="insta-header-data">
      <section class="insta-info">
        <h1 class="insta-username">{{ usuario_actual.usuario_django.username }}</h1>
        <button class="insta-follow-button">Seguir</button>
        <button class="insta-suggestion fa fa-ellipsis-h"></button>
        <button class="insta-suggestion fa fa-caret-down"></button>
      </section>
      <section class="insta-follows">
        <p><span class="insta-indicator">12</span> publicaciones</p>
        <p><span class="insta-indicator">23 </span> seguidores</p>
        <p><span class="insta-indicator">30 </span> seguidos</p>
      </section>
      <section class="insta-description">France Dans les E-sports </section>
    </section>
  </section>
  <section class="insta-gallery">
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://i0.kym-cdn.com/entries/icons/medium/000/005/180/YaoMingMeme.jpg"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>56m</span></span><span><i class="fa fa-comment"></i><span>76k</span></span></section>
    </section>
  </section>
</section>


</body>
</html>
